<div class="text-danger" hidden>
    @ViewBag.Message
</div>
<h4>Success Message!</h4>
<h5>Email sent to your email address with confirmation link!</h5>
<h5>Please check your inbox</h5>
<div>
    @Html.ActionLink("Back to Login", "Login", "Login")
    @Html.ActionLink("Go to Home", "Index", "Home")
</div>
